## Student Data Analysis

In this activity, you will use the steps below to analyze a dataset of student test scores from schools in a fake school district.

1. Collect the data.

2. Prepare the data.

3. Summarize the data. 

4. Drill down into the data. 

5. Make comparisons.

### Import required libraries and dependencies

<!-- https://pypi.org/project/pathlib2/ -->

In [1]:
import pandas as pd
import os

## Step 1: Collect the data.

To collect the data that youâ€™ll need, complete the following steps:

**1. Using the Pandas `read_csv` function and the `os.path.join` function, import the data from the `new_student_data.csv` file, and create a DataFrame called student_df.**

In [2]:
student_data = os.path.join('../Resources/new_student_data.csv')
student_df = pd.read_csv(student_data)

**2. Use the head (and/or the tail) function to confirm that Pandas properly imported the data.**

In [4]:
student_df.head()

,student_id,student_name,grade,school_name,reading_score,math_score,school_type
0,127008367,Sarah Douglas,11th,Chang High School,87.2,64.1,Public
1,33365505,Francisco Osborne,9th,Fisher High School,NaN,NaN,Public
2,44359500,Ryan Haas,12th,Campbell High School,91.6,54.7,Public
3,24791243,Kathryn Mack,11th,Richard High School,68.9,73.3,Charter
4,121467881,Harold Reynolds,12th,Chang High School,68.7,43.4,Public

## Good work!

You are now prepared to start the next lesson before starting step 2.

In [20]:
#Check for any NaN values in the data
student_df.isnull().sum()

0

In [21]:
#Drop any rows that contain NaN values, and then verify that no NaN values remai
student_df= student_df.dropna()
student_df.isna().sum()

0

In [22]:
#Check for any duplicated rows in the data
student_df.duplicated().sum()

0

In [23]:
#Drop the duplicated rows, and then verify that they have been dropped
student_df=student_df.drop_duplicates()
student_df.duplicated().sum()

0

In [14]:
student_df.dtypes

dtype('bool')

In [24]:
# View the grade column to look for a reason it isn't numeric
student_df['grade']

KeyError: 'grade'